body{
    margin: 0;
    padding: 0;
    font-family: 'Arima Madurai', cursive;
    background-color: #e9e6e6;
}
#main{
    width: 1024px;
    margin: 20px auto;
}
.top-content{
    padding: 1em;
    text-align: center;;
}
.top-content-title{
    color: #CC7351;
    font-size: 40px;
    margin: 1.375em;
}
.top-content-subtitle{
    color: #E08F62;
    font-size: 18px;
    line-height: 1.5;
}
.middle-content{
    padding: 2em;
}
.middle-content-title{
    font-size: 2em;
    color: #CC7351;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}
.middle-content-subtitle{
    font-size: 1em;
    color: #454546;
}
.curiosity{
    background: radial-gradient(circle, #9dab86 82%, #ada782 100%);
    border-radius: 100px;
    padding: 100px;
    color: #e0dbdb;
}
.curiosity h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}
.curiosity p{
    line-height: 1.5;
    width: 70%;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}
.footer{
    background: #9DAB86;
    padding: 25px;
    font-size: 16px;
    color: #5e6b48;
    letter-spacing: 5px;
    text-align: center;
}

@media screen and (min-width: 360px){
    #main{
        width: 360px;
        margin: 20px auto;
    }
    .top-content{
        background-color: #c08462a9;
        border-radius: 100px;
    }
    .top-content-title{
        color: #9c5032;
    }
    .top-content-subtitle{
        color: #9e5133;
    }
    .curiosity h2{
        font-size: 30px;
        text-align: center
    }
    .cards {
        max-width: 500px;
        margin: 0 auto 30px;
      }
      
    article {
        position: relative;
    }
      
    .article-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
}
@media screen and (min-width: 768px){
    #main{
        width: 768px;
        margin: 20px auto;
    }
    .top-content{
        background-color: #c08462a9;
        border-radius: 100px;
    }
    .top-content-title{
        color: #9c5032;
    }
    .top-content-subtitle{
        color: #9e5133;
    }
    .cards {
        max-width: 700px;
        margin: 0 auto 30px;
    }
      
    article {
        position: relative;
    }
      
    .article-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
}
@media screen and (min-width: 1020px){
    #main{
        width: 1020px;
        margin: 20px auto;
    }
    .top-content{
            background-image: radial-gradient(closest-corner at 50% 9%, #9DAB86, transparent), url(../imgs/dessert4.jpg);
            opacity: 0.8;
            border-radius: 100px;
            padding: 19em 18em 3em;;
            background-size: cover;
            background-position: center -70px, center top;
            background-repeat: no-repeat;
    }
    .top-content-title, .top-content-subtitle{
        color: #501a04;
        background-color: #d8a589;
        border-radius: 40px;
    }
    .top-content-title{
        font-size: 40px;
    }
    .top-content-subtitle{
        margin: 20px;
    }
    .cards {
        max-width: 960px;
        margin: 0 auto 30px;
    }
      
    article {
        position: relative;
    }
      
    .article-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
}